.publicNavigation {
  background-color: #f8f9fa;
  padding: 10px;
}

.publicNavigation ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

.publicNavigation li {
  margin: 0 10px;
}

.publicNavigation a {
  text-decoration: none;
  color: #007bff;
}

.publicNavigation a:hover {
  color: #0056b3;
  text-decoration: underline;
}
