@media screen and (min-width: 320px) {
  .publicNavigationContainer {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    color: var(--blacks--black-800);
    z-index: 4;
  }

  .navToggle {
    display: block;
    position: absolute;
    top: 16px;
    left: 16px;
    cursor: pointer;
    z-index: 10;
  }

  .navToggleHidden {
    display: none;
  }
  
  .navToggleInside {
    display: none;
    position: absolute;
    top: 16px;
    left: 16px;
    cursor: pointer;
  }

  .navToggleInside.open {
    display: block;
  }

  .navToggleInside.close {
    display: none;
  }

  .publicNavigation {
    position:fixed;
    top:0px;
    left:0px;
    display: none;
    width: calc(100% - 32px);
    padding: 16px;
    padding-top: 48px;
    height: calc(100vh - 48px);
    background: var(--purples--purple-100);
  }

  .publicNavigation.open {
    display: block;
  }

  .publicNavigation ul {
    padding: 0;
    margin: 0;
  }

  .publicNavigation li {
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }

  .publicNavigation li:nth-of-type(6) div span{
    margin-bottom: 8px;
    background: var(--purples--purple-900);
    color: #ffffff;
  }

  .publicNavigation li:nth-of-type(7) div span{
    background:var(--purples--purple-200);
    color:var(--purples--purple-1000);
  }

  .publicNavigation a {
    display: block;
    width:fit-content;
    font-weight:600;
    padding: 8px;
    text-decoration: none;
    color: var(--blacks--black-700);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
  }

  .publicNavigation a:hover {
    color: var(--purples--purple-1000);
    background-color: var(--purples--purple-200);
  }

  .publicNavigation a.dropdownLink{
    padding-left:16px;
  }
  
  .publicNavigation a.dropdownLink:hover{
    background:var(--purples--purple-200);
  }

  .dropdownHeaderText{
    display:block;
    width:fit-content;
    font-weight:600;
    padding:8px;
    border-radius:4px;
    color: var(--blacks--black-700);
  }
  
  .dropdownHeaderText:hover{
    color: var(--purples--purple-1000);
    background-color: var(--purples--purple-200);
  }

  .loginLink {
    display: block;
    width: fit-content;
    font-weight: 600;
    padding: 8px;
    text-decoration: none;
    color: var(--purples--purple-1000);
    background: var(--purples--purple-200);
    border-radius: 4px;
  }

  .loginLink:hover {
    background: var(--purples--purple-300);
    box-shadow: var(--global-box-shadow);
  }
}

@media screen and (min-width: 576px) {
  /* Add styles for small screens here */
}

@media screen and (min-width: 768px) {
  .publicNavigationContainer {
    grid-template-columns: repeat(1, 1fr);
  }

  .navToggle {
    display:none;
  }

  .publicNavigation .navToggleInside {
    display:none;
  }

  .publicNavigation {
    display:block;
    height: fit-content;
    padding-top: 24px;
    background: #ffffff;
  }

  .publicNavigation ul {
    display: grid;
    grid-template-columns: 64px 64px 78px 72px 90px 104px 64px;
    gap: 8px;
    justify-content: center;
  }

  .publicNavigation li {
    height: fit-content;
    position: relative;
  }

  .publicNavigation ul li:nth-of-type(5) div:nth-of-type(2) {
    position: absolute;
    width: 164px;
    background: #ffffff;
    box-shadow:var(--global-box-shadow);
    margin-top: 8px;
  }

  .publicNavigation ul li:nth-of-type(5) div:nth-of-type(2) a {
    width: calc(100% - 24px);
  }

  .publicNavigation ul li:nth-of-type(5) div:nth-of-type(2) a:hover {
    background:var(--purples--purple-200);
  }

  .publicNavigation li:nth-of-type(6) div span{
    margin-bottom: 0px;
  }

  .publicNavigation li:nth-of-type(6) div span:hover {
    background:var(--purples--purple-1000);
    box-shadow:var(--global-box-shadow);
  }

  .publicNavigation ul li:nth-of-type(6) div:nth-of-type(2) {
    position: absolute;
    width: 100%;
    background: #ffffff;
    box-shadow:var(--global-box-shadow);
    margin-top: 8px;
  }

  .publicNavigation ul li:nth-of-type(6) div:nth-of-type(2) a {
    width: calc(100% - 24px);
  }

  .publicNavigation ul li:nth-of-type(6) div:nth-of-type(2) a:hover {
    background:var(--purples--purple-200);
  }
  
  .publicNavigation li:nth-of-type(7) div span:hover{
    background:var(--purples--purple-300);
    box-shadow:var(--global-box-shadow);
  }

  .publicNavigation ul li:nth-of-type(7) div:nth-of-type(2) {
    position: absolute;
    width: 100%;
    background: #ffffff;
    box-shadow:var(--global-box-shadow);
    margin-top: 8px;
  }

  .publicNavigation ul li:nth-of-type(7) div:nth-of-type(2) a {
    width: calc(100% - 24px);
  }

  .publicNavigation ul li:nth-of-type(7) div:nth-of-type(2) a:hover {
    background:var(--purples--purple-200);
  }
  
  .loginLink:hover {
    background: var(--purples--purple-300);
    box-shadow: var(--global-box-shadow);
  }
}

@media screen and (min-width: 990px) {
  /* Add styles for medium screens here */
}

@media screen and (min-width: 1200px) {
  /* Add styles for large screens here */
}

@media screen and (min-width: 1400px) {
  /* Add styles for extra large screens here */
}

