@media screen and (min-width:320px) {
    .privacyPolicyContainer {
        display: block;
        width: calc(100% - 16px);
        height: auto;
        margin: 0;
        padding: 16px;
        background: #E7E2FC;
    }

    .privacyPolicyContainer h1 {
        font-size: var(--headings--h3);
        font-weight: 600;
        margin: 16px 0;
        color: var(--blacks--black-1000);
    }

    .privacyPolicyContainer h2 {
        font-size: var(--headings--h4);
        font-weight: 600;
        margin: 16px 0;
        color: var(--blacks--black-800);
    }

    .privacyPolicyContainer p {
        display: block;
        margin: 0 0 16px;
        color: var(--blacks--black-600);
    }

    .privacyPolicyContainer ul {
        margin: 0 0 16px;
        padding-left: 20px;
    }

    .privacyPolicyContainer li {
        margin-bottom: 8px;
        color: var(--blacks--black-600);
    }
}

@media screen and (min-width:576px) {
    .privacyPolicyContainer {
        padding: 32px;
    }
}

@media screen and (min-width:768px) {
    .privacyPolicyContainer {
        padding: 64px;
    }
}

@media screen and (min-width:990px){

}

@media screen and (min-width:1200px){

}

@media screen and (min-width:1400px){

}
