@media screen and (min-width:320px){
    .signupContainer{
        display:block;
        width:100%;
        height:100vh;        margin:0px;
        padding:0px;
        padding-top:32px;
        padding-bottom:32px;
        background:#E7E2FC;
    }

    .signupFormContainer{
        display:block;
        width: calc(100% - 64px);
        margin:16px 16px;
        background:#Ffffff;
        padding: 16px 16px;
        border-radius:8px;
        box-shadow:var(--global-box-shadow);
    }

    .signupFormContainer h3{
        font-size:var(--headings--h5);
        font-weight:600;
        margin:8px 0px;
        margin-top:0px;
        color:var(--blacks--black-1000);
    }

    .signupFormContainer p{
        display:block;
        margin:0px;
        margin-bottom:16px;
        color:var(--blacks--black-800);
    }

    .signupFormContainer form .formGroup{
        margin-top:16px;
    }

    .signupFormContainer form label{
        display:block;
        width:100%;
        font-weight:600;
        font-size:var(--body--body1);
        margin-top:8px;
        margin-bottom:8px;
    }

    .signupFormContainer form input{
        display:block;
        width:calc(100% - 16px);
        padding:8px;
        border:1px solid var(--blacks--black-100);
        border-radius:4px;
        -webkit-border-radius:4px;
        -moz-border-radius:4px;
        -ms-border-radius:4px;
        -o-border-radius:4px;
    }

    .signupFormContainer form .loginContainer{
        margin-top: 16px;
        margin-bottom:16px;
    }

    .signupFormContainer form .loginContainer span{
        font-size:var(--body--body1);
        font-weight:400;
    }

    .signupFormContainer form .loginContainer a{
        font-size:var(--body--body1);
        font-weight:600;
        color:#876DEF;
        padding-left:8px;
        text-decoration:none;
    }

    .signupFormContainer form button[type=submit]{
        display:block;
        width:100%;
        padding:16px;
        font-weight:600;
        background:#876DEF;
        color:#ffffff;
        border:none;
        border-radius:8px;
    }

    .signupContainer .imgContainer{
        display:none;
    }
}

@media screen and (min-width:576px){
    .signupContainer{
        padding-bottom: 96px;
    }

    .signupFormContainer{
        width: calc(100% - 192px);
        padding:64px;
        margin-left:32px;
        margin-right:32px;
    }
}

@media screen and (min-width:768px){

    .signupContainer{
        padding-bottom: 0px;
    }

    .signupFormContainer{
        position:relative;
        width: 40%;
        margin-left:64px;
        padding: 64px;
        z-index:3;
    }

    .signupFormContainer form .formGroupContainer{
        display:grid;
        grid-template-columns:1fr 1fr;
        gap:16px;
        width:calc(100% - 16px);
    }
    
    .signupContainer .imgContainer{
        position:absolute;
        top:0px;
        right:0px;
        display:block;
        width: 60%;
        height: calc(100vh + 32px);
        overflow:hidden;
        z-index:2;
    }

    .signupContainer .imgContainer img{
        position: relative;
        right: 20vw;
        display: block;
        width: 100vw;
        height: 100%;
    }
}