@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css';

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root{

  --headings--h1:89.76px;
  --headings--h2:67.34px;
  --headings--h3:50.52px;
  --headings--h4:37.9px;
  --headings--h5:28.43px;
  --headings--h6:21.33px;
  --body--body0:16px;
  --body--body1:12px;

  --global-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  --skew-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

  /* typographic colors  */
  --blacks--black-1000: #212121;
  --blacks--black-900: #353535;
  --blacks--black-800: #494949;
  --blacks--black-700: #5E5E5E;
  --blacks--black-600: #727272;
  --blacks--black-500: #868686;
  --blacks--black-400: #9A9A9A;
  --blacks--black-300: #AEAEAE;
  --blacks--black-200: #C2C2C2;
  --blacks--black-100: #D7D7D7;

  --purples--purple-1000: #876DEF;
  --purples--purple-900: #937CF0;
  --purples--purple-800: #9F8AF2;
  --purples--purple-700: #AB99F4;
  --purples--purple-600: #B7A7F5;
  --purples--purple-500: #C3B6F7;
  --purples--purple-400: #CFC5F9;
  --purples--purple-300: #DBD3FA;
  --purples--purple-200: #E7E2FC;
  --purples--purple-100: #F3F0FD;
}

@media screen and (min-width:320px){
  h1{
    font-size:var(--headings--h1);
    color:var(--blacks--black-1000);
  }

  h2{
    font-size:var(--headings--h2);
    color:var(--blacks--black-1000);
  }

  h3{
    font-size:var(--headings--h3);
    color:var(--blacks--black-1000);
  }

  h4{
    font-size:var(--headings--h4);
    color:var(--blacks--black-1000);
  }

  h5{
    font-size:var(--headings--h5);
    color:var(--blacks--black-1000);
  }

  h6{
    font-size:var(--headings--h6);
    color:var(--blacks--black-1000);
  }

  p,a,input,select{
    font-size:var(--body--body0);
  }

  h1,h2,h3,h4,h5,h6,p,a,span,input,select,textarea,button,label{
    font-family:'Open Sans', sans-serif;
  }

  .primary-button{
    display:block;
    width: calc(100% - 0px);
    padding:8px 16px;
    background:var(--purples--purple-1000);
    color:#ffffff;
    border:none;
    border-radius:4px;
    box-shadow:var(--global-box-shadow);
  }

  .secondary-button{
    display:block;
    width: calc(100% - 0px);
    padding:8px 16px;
    background:var(--purples--purple-200);
    color:var(--purples--purple-1000);
    border:none;
    border-radius:4px;
  }

  .ghost-button{
    display:block;
    width:calc(100% - 0px);
    padding:8px 16px;
    color:var(--purples--purple-1000);
    background:none;
    border:none;
    font-weight:600;
  }

}